__pycache__/
*.py[cod]
*$py.class
logs/
Evidencias_QA/
*.csv
!catalogo_planes.csv
!catalogo_direcciones.csv
!catalogo_ott.csv
*.json
!auth_state.json
!config_gideon.json
.env
.venv
env/
venv/
ENV/
build/
dist/
*.spec
